:root{
    background-color: #f5f0e1;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
main {
    flex: 1;
    width: 100%;
}